html {
    font-family: 'Caveat', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Encode Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.header{
    height: 290px;
    width: 900px;
    position: relative;
    background-color: rgb(216, 231, 228);
    border-radius: 15px;
    border: 5px solid darkgray;
    margin: 5px;
}
.persodetails {
    position: absolute;
    left: 50px;
    top: 80px;
    
}
.header > h1{
    position: absolute;
    top: 15px;
    right: 300px;
}
.profilepic  {
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 80px;
}
.Sum {
    position: relative;
    height: 120px;
    width: 900px;
    background-color: rgb(216, 231, 228);
    border-radius: 15px;
    border: 5px solid darkgray;
    margin: 5px;
}
.Sum > h2 {
    position: absolute;
    left: 50px;
}
.SumText {
    position: absolute;
    top: 45px;
    left: 50px;
}
.Education {
    position: relative;
    height: 175px;
    width: 900px;
    background-color: rgb(216, 231, 228);
    border-radius: 15px;
    border: 5px solid darkgray;
    margin: 5px;
}
.Education > h2 {
    position: absolute;
    left: 50px;
}
.Edu1 {
    position: absolute;
    left: 50px;
    top: 65px;
}
.Edu2 {
    position: absolute;
    top: 65px;
    right: 50px;
}
.Exp {
    position: relative;
    height: 295px;
    width: 900px;
    background-color: rgb(216, 231, 228);
    border-radius: 15px;
    border: 5px solid darkgray;
    margin: 5px;
}
.Exp > h2 {
    position: absolute;
    left: 50px;
}
.Exp1 {
    position: absolute;
    top: 65px;
    left: 50px;
}
.Skills {
    position: relative;
    height: 285px;
    width: 900px;
    background-color:rgb(216, 231, 228) ;
    border-radius: 15px;
    border: 5px solid darkgray;
    margin: 5px;
}
.Skills > h2 {
    position: absolute;
    left: 50px;
}
.Soft {
    position: absolute;
    top: 50px;
    left: 50px;
}
.Hard {
    position: absolute;
    top: 50px;
    left: 380px;
}
.Languages {
    position: absolute;
    top: 50px;
    right: 50px;
}
footer {
    position: relative;
    left: 380px;
}